/*

Create a full width layout using flex box CSS properties.

Add any additional CSS rules to style the form and search results output.

*/

.page {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
}

.logo {
    background-image: url(/logo.png);
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1rem;
    width: auto;
    margin-left: 15px;
    cursor: pointer;
}

.input-field {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links {
    padding: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color: blue;
    pointer-events: none;
}

input {
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

li {
    list-style: none;
    padding: 10px;
    display: grid;
    cursor: default;
}

span {
    line-height: 1.5;
}

.is-searching {
    padding: 10px;
}

.result-found-list {
    padding: 0 10px;
    background: #f4f4f4;
}

@media screen and (min-width: 768px) {
    .page {
        max-width: 70%;
    }

    .btn {
        width: 15%;
        margin-left: 20px;
    }

    .logo {
        width: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }

    .header {
        justify-content: flex-end;
    }

    .footer {
        flex-direction: row;
    }

    .footer-links {
        flex-direction: row;
    }
}