/*

Create a full width layout using flex box CSS properties.

Add any additional CSS rules to style the form and search results output.

*/

.page {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;

}

.logo {
    background-image: url(/logo.png);
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.content {
    display: flex;
    flex-direction: column;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: auto;
    margin-left: 15px;
    cursor: pointer;
}

.input-field {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    list-style: none;
}

.links {
    padding: 10px;
}

a {
    text-decoration: none;
}

input {
    display: block;
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

li {
    list-style: none;
    padding: 10px;
    display: grid;
}

span {
    line-height: 1.5;
}

.is-searching {
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .page {
        max-width: 70%;
    }

    .btn {
        width: 15%;
        margin-left: 20px;
    }
}